@use "theme";

.pagination_style {
  @apply h-8 w-8 cursor-pointer rounded-[2px] border border-[#D9D9D9] bg-white text-sm duration-300 hover:border-gray-500;
}

.pagination_el {
  @extend .pagination_style;
  a,
  .pagination_el_arrow {
    @apply flex h-full w-full items-center justify-center leading-none text-black/[85%] hover:text-gray-500;
  }
}

.pagination_el_disabled {
  .pagination_el {
    @apply cursor-not-allowed hover:border-[#D9D9D9];
    .pagination_el_arrow {
      @apply text-[#D9D9D9];
    }
  }
}
